alabaster==0.7.12
alembic==1.4.3
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.16.0
asgiref==3.2.10
astroid==2.4.2
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
black==20.8b1
blessings==1.7
blinker==1.4
bpython==0.20
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
cookiecutter==1.7.2
coverage==5.3
cryptography==3.1.1
curtsies==0.3.4
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.3
django-allauth==0.42.0
django-cors-headers==3.5.0
django-coverage-plugin==1.8.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
django-model-utils==4.0.0
django-redis==4.12.1
django-stubs==1.6.0
djangorestframework==3.12.1
dnspython==2.0.0
docutils==0.16
email-validator==1.1.2
environs==9.2.0
factory-boy==3.1.0
Faker==4.9.0
fancycompleter==0.9.1
filelock==3.0.12
flake8==3.8.4
flake8-blind-except==0.1.1
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-isort==4.0.0
flake8-polyfill==1.0.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.9.0
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-Static-Digest==0.1.3
Flask-WTF==0.14.3
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
hiredis==1.1.0
humanize==3.0.1
identify==1.5.5
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
ipdb==0.13.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
lazy-object-proxy==1.4.3
livereload==2.6.3
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.9.1
mccabe==0.6.1
msgpack==1.0.0
mycli==1.22.2
mypy==0.782
mypy-extensions==0.4.3
nodeenv==1.5.0
oauthlib==3.1.0
packaging==20.4
parso==0.7.1
pathspec==0.8.0
pdbpp==0.10.2
pep8-naming==0.11.1
pexpect==4.8.0
pgcli==3.0.0
pgspecial==1.11.10
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.11.4
pluggy==0.13.1
poyo==0.5.0
pre-commit==2.7.1
prompt-toolkit==3.0.7
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.1
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyls==0.1.6
PyMySQL==0.10.1
pynvim==0.4.2
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.1.2
pytest-django==3.10.0
pytest-sugar==0.9.4
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
setproctitle==1.1.10
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.20
sqlparse==0.3.1
supervisor==4.2.1
tabulate==0.8.7
termcolor==1.1.0
terminaltables==3.1.0
testfixtures==6.15.0
text-unidecode==1.3
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.0.33
virtualenv-clone==0.5.4
waitress==1.4.4
wcwidth==0.2.5
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==1.0.1
whitenoise==5.2.0
wmctrl==0.3
wrapt==1.12.1
WTForms==2.3.3
youtube-dl==2020.9.20
zope.event==4.5.0
zope.interface==5.2.0
